@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "variables";
@import "bootstrap/scss/bootstrap";
@import "flatpickr/dist/flatpickr";

$success-hover:#1E7E01;

$bg-light:#FAFBFF;

$border-color:#E9ECFF;

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,html {
    font-family: "Poppins", sans-serif;
    color: $primary;
    height: 100%;
}

a{
    text-decoration: none!important;
}

.vh100{
    height: 100vh;
}

.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 16px;
}

.fs-18{
    font-size: 18px;
}

.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.fw-700{
    font-weight: 700;
}

.flex_1{
    flex: 1;
}

.btn{
    padding: 12px 24px 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    @media (min-width: 768px) {
        font-size: 18px;
    }
}

.btn-success {
    color: #fff;
    background-color: $success;
    &:hover {
        background-color: $success-hover;
        color: #fff;
    }
}

.btn-light{
    color: $primary;
}

.form-input{
    display: block;
    width: 100%;
    padding: 17px 20px;
    border-radius: 6px;
    border: 1px solid $border-color;
    background-color: $bg-light;
    outline: none;
    font-size: 14px;
    @media (min-width: 768px) {
        font-size: 18px;
        padding: 20px 30px;
    }
    font-weight: 500;
    line-height: 27px;
    color: $primary;
    &:focus::placeholder {
        opacity: 0;
    }
}
.error{
    font-size: 16px;
    font-weight: 400;
}

.input__with_label{
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    position: relative;
    label{
        color: $secondary;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        @media (min-width: 768px) {
            font-size: 16px;
        }
        .required{
            color: $danger;
            padding-left: 5px;
        }
    }
    svg{
        position: absolute;
        right: 30px;
        top: 57px;
        stroke: $success;
        &.success *{
            stroke: $success
        }
    }
    [type=password] + svg{
        cursor: pointer;
    }
    &.with-search{
        input{
            border:none;
            background-color: transparent;
            outline: none;
        }
    }
}

.checkbox_custom{
    cursor: pointer;
    user-select: none;
    display: flex;
    gap: 10px;
    *{
        cursor: pointer;
        user-select: none;
    }
    .label{
        font-size: 12px;
        font-weight: 600;
        line-height: 24px;
        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
    svg .check{
        opacity: 0;
    }
    input[type=checkbox]:checked + svg{
        .check{
            opacity: 1;
        }
    }
}

.login_form{
    h1{
        font-size: 24px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .form_footer{
        font-size: 14px;
    }
    @media (min-width: 768px) {
        width: 545px;
        h1{
            font-size: 28px;
        }
        .form_footer{
            font-size: 16px;
        }
    }
    width: 100%;
}

.login_form_container{
    min-height: calc(100vh + 200px);
    padding-top: 100px;
    @media (min-height: 700px) {
        min-height: 100vh;
        padding-top: 0;
    }
}
.login_page_title{
    position: absolute;
    left: 0;
    top: 0;
}

.register_form_container{
    padding-top: 94px;
    padding-bottom: 64px;
    @media (min-height: 500px) and (min-width: 768px) {
        padding-top: 140px;
    }
}

header{
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 50px 0 400px;
    z-index: 1;
    position: relative;
}

.main_content{
    display: flex;
    width: 100%;
    min-height: 100%;
    height: auto;
    box-sizing: border-box;
    position: relative;
    top: -100px;
    .logo_box{
        height: 100px;
        width: 345px;
        box-shadow: 0 4px 0 0 rgba(238, 238, 238, 0.25);
        display: flex;
        align-items: center;
        padding: 0 50px;
    }
    aside{
        width: 345px;
        min-height: calc(100% - 100px);
        height: auto;
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        z-index: 99;
    }
    .main_content_box{
        $mtop: 100px;
        flex: 1;
        height: 100%;
        background-color: #F9F9F9;
        margin-top: $mtop;
        padding: 50px 40px 50px 50px;
        min-height: calc(100vh - #{$mtop});
    }
}

.menu{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    .menu_item{
        height: 64px;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        color: $secondary!important;
        cursor: pointer;
        padding-left: 50px;
        display: flex;
        gap: 15px;
        align-content: center;
        position: relative;
        svg{
            width: 24px;
            height: 24px;
            *{
                stroke: $secondary;
            }
        }
        &.active{
            color: $primary;
            background-color: $bg-light;
            svg{
                *{
                    stroke: $primary;
                }
            }
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 8px;
                height: 100%;
                background-color: $primary;
                border-radius: 0px 6px 6px 0px;
            }
        }
    }
}

.search_box{
    display: flex;
    padding: 12px 20px 12px 20px;
    background-color: $bg-light;
    gap: 10px;
    border-radius: 8px;
    align-items: center;
    svg{
        *{
            stroke: $secondary;
        }
    }
    input{
        width: 405px;
        border: none;
        outline: none;
        color: $secondary;
        font-size: 14px;
        padding: 3.5px;
        background-color: $bg-light;
    }
}

.x-table{
    .x-table-header{
        border-bottom: 1px solid $border-color!important;
        .x-table-cell{
            font-size: 16px;
            font-weight: 700;
        }
        .x-table-row{
            &:before{
                border-radius: 20px 0 0 0!important;
            }
            &:after{
                border-radius: 0 20px 0 0!important;
            }
        }
    }
    .x-table-row{
        display: flex;
        &:before,&:after{
            content:" ";
            width: 50px;
        }
    }
    .x-table-row:nth-of-type(even){
        &:before,&:after{
            background-color: #FAFBFF;
        }
        & > .x-table-cell{
            background-color: #FAFBFF;
        }
    }
    .x-table-row:nth-of-type(odd){
        &:before,&:after{
            background-color: #FFFFFF;
        }
        & > .x-table-cell{
            background-color: #FFFFFF;
        }
    }
    .x-table-row:last-child{
        &:before{
            border-radius: 0 0 0 20px;
        }
        &:after{
            border-radius: 0 0 20px 0;
        }
    }
    .x-table-cell{
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        flex: 1;
        color: $primary;
    }
    .x-table-footer{
        font-size: 14px;
        font-weight: 500;
    }
    .x-table-action-btn{
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: $bg-light;
        cursor: pointer;
    }
}

.page_header{
    h1{
        font-size: 28px;
        font-weight: 600;
    }
    h3{
        font-size: 16px;
        font-weight: 400;
    }
}

.filters{
    .filter{
        z-index: 99;
        padding: 15px 20px 15px 20px;
        border-radius: 12px;
        background-color: #fff;
        position: relative;
        cursor: pointer;
        .title{
            font-size: 14px;
            font-weight: 700;
        }
        .selected{
            font-size: 14px;
            font-weight: 500;
            color: $secondary
        }
        .open_icon{
            transition:transform 0.2s;
            *{
                stroke: $primary;
            }
        }
        &.show{
            .open_icon{
                transform: rotate(180deg);
            }
            .list{
                display: flex;
            }
        }
        .list{
            position: absolute;
            top:calc(100% + 5px);
            background-color: #fff;
            border-radius: 12px;
            box-shadow: 0px 4px 6px 0px rgba(228, 228, 228, 0.25);
            padding: 20px;
            width: 100%;
            left: 0;
            display: none;
            .item {
                padding-top: 14px;
                padding-bottom: 14px;
                position: relative;
                font-size: 14px;
                font-weight: 400;
                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                }
                &:not(:last-child)::after {
                    content: "";
                    display: block;
                    height: 1px;
                    background-color: $border-color;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                }
                &.selected,&:hover{
                    font-weight: 600;
                }
            }
        }
        &.filter-date{
            width: 322px;
        }
    }
}

.flatpickr-calendar{
    box-shadow: 0px 4px 6px 0px rgba(228, 228, 228, 0.25);
    border-radius: 12px;
    left: 0!important;
    top:calc(100% + 5px) !important;
    width: 322px!important;
}
.flatpickr-month{
    display: none!important;
}
.flatpickr-monthDropdown-months,input.cur-year{
    display: none!important;
}
.flatpickr-month_el{
    font-size: 16px;
    font-weight: 600;
}
.flatpickr-months{
    padding: 10px 16px 10px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: center;
    .flatpickr-prev-month,.flatpickr-next-month{
        position: relative;
        padding: 0;
        height: auto;
    }
}
.flatpickr-rContainer{
    padding: 10px;
    width: 322px;
}
.flatpickr-weekdays span.flatpickr-weekday{
    color: $secondary;
}
.flatpickr-days .flatpickr-day{
    color: $primary;
    width: 302px;
    &.nextMonthDay,&.prevMonthDay{
        opacity: 0.3;
    }
}

.flatpickr-days .dayContainer{
    width: 302px!important;
    min-width: 302px!important;
}

.flatpickr-day{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    &:hover{
        color: #fff!important;
        background-color: $primary!important;
    }
    &.startRange,
    &.inRange,
    &.endRange{
        border-radius: 99px!important;
        color: #fff!important;
        background-color: $primary!important;
        box-shadow: none!important;
        border: none!important;
    }
    &.startRange{
        border-radius: 99px 0 0 99px!important;
    }
    &.endRange{
        border-radius: 0 99px 99px 0!important;
    }
    &.inRange:not(:nth-child(7n+1)):not(:nth-child(7n)) {
        border-radius: 0 !important;
        box-shadow: -6px 0 0 $primary, 6px 0 0 $primary !important;
    }
    .flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)){
        box-shadow: -10px 0 0 $primary!important;
    }
    &.inRange:nth-child(7n+1){
        border-radius: 99px 0 0 99px!important;
    }
    &.inRange:nth-child(7n){
        border-radius: 0 99px 99px 0!important;
    }
    &.startRange + .endRange {
        box-shadow: -10px 0 0 $primary!important;
    }
}
.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg{
    width: auto;
    height: auto;
}

.dropdown{
    .dropdown-menu{
        inset: auto!important;
        transform: none!important;
        bottom: calc(100% - 15px) !important;
    }

    li{
        position: relative;
        .dropdown-item{
            padding:7.5px 0;
            &:hover{
                background-color: #fff;
                font-weight: 700;
                letter-spacing: 0.02em;
            }
        }
        &:first-child {
            .dropdown-item{
                padding-top: 0;
            }
        }
        &:last-child {
            .dropdown-item{
                padding-bottom: 0;
            }
        }
        &:not(:last-child)::after {
            content: "";
            display: block;
            height: 1px;
            background-color: $border-color;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }

}

.modal-backdrop{
    backdrop-filter: blur(32.7px)!important;
    background: rgba(233, 233, 233, 0.38) !important;
    opacity: 1!important;
}
.modal{
    .modal-dialog{
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .modal-header{
        padding-top: 24px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        .modal-title{
            color: $primary;
            font-size: 32px;
            font-weight: 700;
            line-height: 150%;
        }
        .close{
            position: absolute;
            right: 50px;
            top: 50px;
            cursor: pointer;
        }
    }
    .modal-content{
        padding: 50px;
    }
    .modal-footer button {
        flex: 1 1 0;
        border-radius: 8px;
    }
}

.x-select{
    cursor: pointer;
    svg{
        *{
            stroke: $primary!important;
        }
    }
    &.open{
        svg{
            transform: rotate(180deg);
        }
        .list{
            display: flex;
        }
    }
    .list{
        display: none;
        flex-direction: column;
        border-radius: 12px;
        box-shadow: 0px 4px 6px 0px rgba(228, 228, 228, 0.25);
        background: rgb(250, 251, 255);
        padding: 20px 30px 20px 30px;
        position: absolute;
        top: calc(100% + 5px);
        width: 100%;
        z-index: 99;
        .item{
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
            padding: 14.5px 0;
            border-bottom: 1px solid $border-color;
            &.selected,&:hover{
                font-weight: 600;
            }
            &:last-child{
                padding-bottom: 0;
                border-bottom: none;
            }
            &:first-child{
                padding-top: 0;
            }
        }
    }
}

.page_form_container{
    border-radius: 20px;
    width: 645px;
    padding: 50px;
    background-color: #fff;
    &.w_xl{
        width: 1220px;
    }
}

.full_page_calendar{
    .body{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
    }
    .day{
        flex:0 0 calc(calc(100% / 7) - 2px);
        height: 146px;
        border: 1px solid $border-color;
        background-color: $bg-light;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .num{
            position: absolute;
            left: 10px;
            top: 10px;
            font-size: 18px;
            font-weight: 500;
        }
        &.current{
            background-color: #fff;
            .text{
                color: $primary;
            }
        }
        &.approve{
            background-color: #D8FFCD;
            .text{
                color: $success;
            }
        }
        &.reject{
            background-color: #FFDCDD;
            .text{
                color: $danger;
            }
        }
        .text{
            color: $secondary;
        }
    }
    .head{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1px;
        .day{
            &:first-child{
                border-radius: 12px 0 0 0;
            }
            &:last-child{
                border-radius: 0 12px 0 0;
            }
            text-align: center;
            height: 49px;
            background-color: #fff;
        }
    }
}
